<a href="https://colab.research.google.com/github/CE334/CE334_230333_Chinthala_Manasa/blob/main/CE334_LAB_1_Chinthala_Manasa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np

# WGS-84 parameters
a = 6378137.0                      # semi-major axis (m)
f = 1 / 298.257223563              # flattening
e2 = 2*f - f*f
def dms_to_deg(d, m, s):
    return d + m/60 + s/3600
# Decimal Degrees to DMS
def deg_to_dms(deg):
  d = int(deg)
  m = int((deg - d) * 60)
  s = (deg - d - m/60) * 3600
  return f"{d}°{m}′{s:.4f}″"
#kanpur coordinates
lat_k = dms_to_deg(26, 26, 59.7228)    # degrees
lon_k = dms_to_deg(80, 19, 54.7356)    # degrees
h_k   = 126.630                        # meters
#hyderabad coordinates
lat_hyd = dms_to_deg(17,24,6.5160)     # degrees
lon_hyd = dms_to_deg(78,33,36.6768)     # degrees
h_hyd   = 542

In [34]:
#1st question
def geodetic_to_cartesian(lat, lon, h):
    lat = np.radians(lat)
    lon = np.radians(lon)

    N = a / np.sqrt(1 - e2 * np.sin(lat)**2)

    x = (N + h) * np.cos(lat) * np.cos(lon)
    y = (N + h) * np.cos(lat) * np.sin(lon)
    z = ((1 - e2) * N + h) * np.sin(lat)

    return x, y, z
xk, yk, zk = geodetic_to_cartesian(lat_k, lon_k, h_k)
xh, yh, zh = geodetic_to_cartesian(lat_hyd, lon_hyd, h_hyd)
print("Kanpur cartesian coordinates: \n")
print("X:",xk)
print("Y:",xk)
print("Z:",zk)
print("Hyderabad cartesian coordinates: \n")
print("X:",xh)
print("Y:",yh)
print("Z:",zh)

Kanpur cartesian coordinates:

X: 959683.7651469298
Y: 959683.7651469298
Z: 2823834.838180068
Hyderabad cartesian coordinates:

X: 1207594.550027114
Y: 5967597.714479442
Z: 1895475.3840512144

In [35]:
def cartesian_to_geodetic(x, y, z, a=a, e2=e2):
    lon = np.arctan2(y, x)
    p = np.sqrt(x**2 + y**2)

    lat = np.arctan2(z, p*(1 - e2))

    for _ in range(5):
        N = a / np.sqrt(1 - e2*np.sin(lat)**2)
        h = p/np.cos(lat) - N
        lat = np.arctan2(z, p*(1 - e2*N/(N+h)))

    return np.degrees(lat), np.degrees(lon), h
lat_K,long_K,H_K = cartesian_to_geodetic(xk,yk,zk,a,e2)
lat_H,long_H,H_H = cartesian_to_geodetic(xh,yh,zh)
print("Kanpur Geodetic: \n")
print("Latitude:",deg_to_dms(lat_K))
print("Longitude:",deg_to_dms(long_K))
print("Height:",H_K)
print("Hyderabad Geodetic: \n")
print("Latitude:",deg_to_dms(lat_H))
print("Longitude:",deg_to_dms(long_H))
print("Height:",H_H)

Kanpur Geodetic:

Latitude: 26°26′59.7228″
Longitude: 80°19′54.7356″
Height: 126.62999999988824
Hyderabad Geodetic:

Latitude: 17°24′6.5160″
Longitude: 78°33′36.6768″
Height: 542.0

In [36]:
#2nd question
def spherical_to_cartesian(r, lat, lon):
    lat = np.radians(lat)
    lon = np.radians(lon)

    x = r * np.cos(lat) * np.cos(lon)
    y = r * np.cos(lat) * np.sin(lon)
    z = r * np.sin(lat)

    return x, y, z
xk, yk, zk = spherical_to_cartesian(h_k,lat_k,lon_k)
xh,yh,zh = spherical_to_cartesian(h_hyd,lat_hyd,lon_hyd)
print("Spherical (Kanpur):")
print("X =", xk)
print("Y =", yk)
print("Z=", zk)
print("spherical(hyderabad):")
print("X = ",xh)
print("Y =",yh)
print("Z=",zh)

Spherical (Kanpur):
X = 19.040296327036625
Y = 111.76461925346983
Z= 56.40296001900569
spherical(hyderabad):
X =  102.57927725139679
Y = 506.91836963378466
Z= 162.09644785252618

In [37]:
def cartesian_to_spherical(x, y, z):
    r = np.sqrt(x**2 + y**2 + z**2)
    lat = np.degrees(np.arcsin(z/r))
    lon = np.degrees(np.arctan2(y, x))
    return r, lat, lon
r_sk, lat_sk, lon_sk = cartesian_to_spherical(xk, yk, zk)
r_sh,lat_sh,lon_sh = cartesian_to_spherical(xh,yh,zh)
#kanpur
print("Spherical (Kanpur):")
print("r =", r_sk)
print("lat =", deg_to_dms(lat_sk))
print("lon =", deg_to_dms(lon_sk))
#hyderabad
print("Spherical (Hyderabad):")
print("r =", r_sh)
print("lat =", deg_to_dms(lat_sh))
print("lon =", deg_to_dms(lon_sh))

Spherical (Kanpur):
r = 126.63
lat = 26°26′59.7228″
lon = 80°19′54.7356″
Spherical (Hyderabad):
r = 542.0
lat = 17°24′6.5160″
lon = 78°33′36.6768″

In [38]:
#3rd question
def geodetic_to_spherical(lat, lon, h):
    x, y, z = geodetic_to_cartesian(lat, lon, h)
    return cartesian_to_spherical(x, y, z)
r_sk, lat_sk, lon_sk = geodetic_to_spherical(lat_sk, lon_sk, r_sk)
r_sh,lat_sh,lon_sh = geodetic_to_spherical(lat_sh,lon_sh,r_sh)
#kanpur
print("Geodetic → Spherical (Kanpur):")
print("r =", r_sk)
print("lat =", deg_to_dms(lat_sk))
print("lon =", lon_sk)
#hyderabad
print("Geodetic → Spherical (Hyderabad):")
print("r =", r_sh)
print("lat =", lat_sh)
print("lon =", lon_sh)

Geodetic → Spherical (Kanpur):
r = 6374049.495370327
lat = 26°17′48.3459″
lon = 80.33187099999999
Geodetic → Spherical (Hyderabad):
r = 6376780.85013587
lat = 17.292292543911064
lon = 78.56018800000001

In [39]:
#4rth question
def ecef_to_enu(x, y, z, lat0, lon0, x0, y0, z0):
    lat0 = np.radians(lat0)
    lon0 = np.radians(lon0)

    dx = x - x0
    dy = y - y0
    dz = z - z0

    E = -np.sin(lon0)*dx + np.cos(lon0)*dy
    N = (-np.sin(lat0)*np.cos(lon0)*dx
         -np.sin(lat0)*np.sin(lon0)*dy
         +np.cos(lat0)*dz)
    U = ( np.cos(lat0)*np.cos(lon0)*dx
         +np.cos(lat0)*np.sin(lon0)*dy
         +np.sin(lat0)*dz)

    return E, N, U
xsk, ysk, zsk = geodetic_to_cartesian(lat_k, lon_k, h_k + 800000)
Ek, Nk, Uk = ecef_to_enu(xsk, ysk, zsk, lat_k, lon_k, xk, yk, zk)
xsh,ysh,zsh = geodetic_to_cartesian(lat_hyd, lon_hyd, h_hyd+800000)
Esh, Nsh, Ush = ecef_to_enu(xsh, ysh, zsh, lat_hyd, lon_hyd, xh, yh, zh)
print("Satellite ENU kanpur:")
print("E =", Ek)
print("N =", Nk)
print("U =", Uk)
print("Satellite ENU hyderabad:")
print("E =",Esh)
print("N =",Nsh)
print("U =",Ush)

Satellite ENU kanpur:
E = 2.3283064365386963e-10
N = -17038.772782905027
U = 7173900.091755469
Satellite ENU hyderabad:
E = 0.0
N = -12188.827823236585
U = 7176227.201024594

In [40]:
def enu_to_ecef(E, N, U, lat0, lon0, x0, y0, z0):
    lat0 = np.radians(lat0)
    lon0 = np.radians(lon0)

    dx = (-np.sin(lon0)*E
          -np.sin(lat0)*np.cos(lon0)*N
          +np.cos(lat0)*np.cos(lon0)*U)

    dy = ( np.cos(lon0)*E
          -np.sin(lat0)*np.sin(lon0)*N
          +np.cos(lat0)*np.sin(lon0)*U)

    dz = ( np.cos(lat0)*N
          +np.sin(lat0)*U)

    return x0+dx, y0+dy, z0+dz
E_a, N_a, U_a = -800, 900, 6000

xak, yak, zak = enu_to_ecef(E_a, N_a, U_a, lat_k, lon_k, xk, yk, zk)
lat_ak, lon_ak, h_ak = cartesian_to_geodetic(xak, yak, zak)
xah,yah,zah = enu_to_ecef(E_a, N_a, U_a,lat_hyd,lon_hyd,xh,yh,zh)
lat_ah,lon_ah,h_ah = cartesian_to_geodetic(xah,yah,zah)
print("Aircraft Geodetic Coordinates of kanpur:")
print("Latitude :", deg_to_dms(lat_ak))
print("Longitude:", deg_to_dms(lon_ak))
print("Altitude :", h_ak)
print("Aircraft Geodetic Coordinates of hyderabad:")
print("Latitude :", deg_to_dms(lat_ah))
print("Longitude:", deg_to_dms(lon_ah))
print("Altitude :", h_ah)

Aircraft Geodetic Coordinates of kanpur:
Latitude : 174°36′21.3770″
Longitude: 71°23′24.3971″
Altitude : -6373092.668314192
Aircraft Geodetic Coordinates of hyderabad:
Latitude : 175°36′4.9417″
Longitude: 70°55′55.7071″
Altitude : -6372171.55286237